body {
    font-family: sans-serif;
    background-image: url(../img/wallpaperNumbers.jpg);
}

h1 {
    text-align: center;
    font-size: 2rem;
    color: white;
    margin: 3rem 0;
}

.container {
    display: flex;
    margin-bottom: 2rem;
}

.hidden {
    opacity: 0;
}

.box {
    width: 200px;
    height: 200px;
    background: rgba(190, 34, 34, 0.8);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8%;
    font-size: 1.5rem;
    text-align: center;
}

.btn {
    background-color: rgba(169, 169, 169, 0.3);
    color: white;
    cursor: pointer;
}

.content {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}